.banner {
  height: 50em;
  width: 28em;
  background-image: url('../img/background.png');
  background-size: cover;
}

.container {
  width: 25em;
  margin: 0 auto;
}

.header__stats {
  display:flex;
  justify-content: flex-end;
}

.header__heart--full {
  background-image: url('../img/life.png');
  background-size: cover;
  height: 1.375em;
  width: 1.56em;
  margin-left: 0.313em;
}

.header__timing-row {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.header__heart-big {
  background-image: url('../img/heart_time.png');
  background-size: cover;
  height: 40px;
  width: 46px;
}

.header__time-bar {
  background-image: url('../img/timeline_back.png');
  background-size: cover;
  height: 16px;
  width: 310px;
}

.body__row {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.body__image-field {
  display:inline-block;
  background-image: url('../img/under_picture.png');
  background-size: cover;
  height: 190px;
  width: 160px;
}

.body__word-field {
  display:inline-block;
  background-image: url('../img/under_word.png');
  background-size: cover;
  height: 60px;
  width: 150px;
  text-align: center;
}

.image-container {
  background-size: cover;
  height: 185px;
  width: 150px;
}

.active {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}


/* sets of images */
.cow {
  background-image: url('../img/cow.png');
}

.sheep {
  background-image: url('../img/sheep.png');
}

.pig {
  background-image: url('../img/pig.png');
}

.baseball {
  background-image: url('../img/baseball.png');
}

.basketball {
  background-image: url('../img/basketball.png');
}

.football {
  background-image: url('../img/football.png');
}

.gogh {
  background-image: url('../img/gogh.png');
}

.picasso {
  background-image: url('../img/picasso.png');
}

.dali {
  background-image: url('../img/dali.png');
}

.mozart {
  background-image: url('../img/mozart.png');
}

.chopin {
  background-image: url('../img/chopin.png');
}

.africa {
  background-image: url('../img/africa.png');
}

.asia {
  background-image: url('../img/asia.png');
}
